.container-fluid{
    padding: 0;
}

ul{
    gap: 22px !important;
}

.navbar{
    background-color: white !important;
    font-family: 'Nunito Sans', sans-serif;
    max-width: 90%;
}

.btn{
    background-color: #F02A1C;
    color: white;
    border-radius: 30px;
    padding: 10px 27px;
    margin-left: 10px;
    font-size: 1.3rem;
}

.btn:hover{
    color: white;
    background-color: #d12115;
}

.btn:focus{
    box-shadow: 0 0 0 0.2rem #ff9f98;
}

.form-control{
    border-radius: 20px;
    margin-right: 200px;
}

.form-control:focus{
    border-color: #F02A1C;
    box-shadow: 0 0 0 0.2rem #ffc1bd;
}

hr{
    margin: 0;
    max-width: 90%;
}

