@media screen and (max-width: 400px){
    .tela-celular{
        display: block;
    }
    .tela-pc{
        display: none;
    }
    .inicio p{
        margin-bottom: 0;
    }
    .filtros_celular{
        margin-bottom: 13px;
    }
}

@media screen and (max-width: 430px){
    .logo-faculmatch{
        max-width: 160px;
    }
    .inicio{
        margin-top: 14%;
    }
    .titulo-1,.titulo-2{
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 575px){
    .btn{
        margin-left: 0;
        margin-top: 13px;
    }
    .inicio p{
        max-width: 85%;
        font-size: 0.9rem;
    }
    h2{
        font-size: 2rem;
    }
}

@media screen and (max-width: 878px){
    .conteudo-demanda{
        flex-direction: column-reverse;
        align-items: center;
    }
    .texto-demanda{
        max-width: 90%;
    }
    .desenho-livros{
        text-align: center;
        margin-top: 50px;
        margin-right: 0;
    }
}

@media screen and (max-width: 1100px){
    ul{
        gap: 0 !important;
    }
}