.container-fluid{
    padding: 0;
}

/****************** index.html ******************/
/****************** Nav ******************/
ul{
    gap: 22px !important;
}

a{
    max-width: fit-content;
}

.linha{
    position: relative;
}

.linha::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #F02A1C;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .linha:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
}

.navbar{
    background-color: white !important;
    font-family: 'Nunito Sans', sans-serif;
    max-width: 90%;
}

.btn{
    background-color: #F02A1C;
    color: white;
    border-radius: 30px;
    padding: 10px 27px;
    margin-left: 10px;
    font-size: 1.3rem;
}

.btn:hover{
    color: white;
    background-color: #d12115;
}

.btn:focus{
    box-shadow: 0 0 0 0.2rem #ff9f98;
}

.form-control{
    border-radius: 20px;
}

.form-control:focus{
    border-color: #df7068;
    box-shadow: 0 0 0 0.2rem #f8b7b2;
}

hr{
    margin: 0;
    max-width: 90%;
}

/****************** Início ******************/
.inicio{
    margin-top: 7%;
}

.row{
    margin: 0;
}

.col-md-auto{
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

.titulo-1{
    color: #433F3D;
    font-family: 'Roboto', sans-serif;
}

.titulo-2{
    color: #F02A1C;
    font-family: 'Roboto', sans-serif;
}

.justify-content-md-center{
    display: flex;
    justify-content: center !important;
}

.titulo-inicio *{
    display: flex;
    justify-content: center !important;
}

.inicio p{
    font-family: 'Inter', sans-serif;
    max-width: 60%;
    text-align: center;
}

.desenho-predios{
    display: block;
}

.tela-celular{
    display: none;
}

.backInDown-700ms{
    animation-name: backInDown;
    animation-duration: 1s;
    animation-delay: 0.7s; 
}

/****************** Demanda ******************/
.demanda{
    background-color: #F9F9F9;
}

.desenho-livros{
    margin-top: 90px;
    margin-right: 60px;
}

h3{
    border-radius: 30px;
    background: #F02A1C;
    font-size: 0.8rem;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    padding: 12px 19px;
    margin-top: 80px;
}

.texto-demanda{
    max-width: 39%;
}

h3{
    max-width: fit-content;
}

h2{
    font-size: 2.5rem;
    line-height: 3.6rem;
    font-family: Nunito Sans;
}

.demanda p{
    font-family: 'Inter', sans-serif;
    margin-top: 5%;
}

.escondido{
    opacity: 0;
}

.visivel{
    opacity: 1;
}

.fadeInLeft-300ms{
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-delay: 0.3s; 
}

.fadeInUp-700ms{
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 0.7s; 
}

.fadeInUp-1400ms{
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 1.4s; 
}

/****************** faculdade.html ******************/
/****************** faculdade ******************/
.faculdade{
    margin-top: 51px;
}

.corpo-desenho-faculdade{
    flex: none;
    max-width: 49%;
}

.faculdade h3{
    margin-top: 20px;
}

.faculdade h1{
    font-size: 2rem;
    color: black;
    font-family: Roboto;
    font-weight: 500;
}

.faculdade .row{
    margin-left: 100px;
}

.texto-faculdade{
    flex: 0 0 40%; 
    max-width: 40%;
}

.faculdade p{
    font-family: Nunito Sans;
    margin-top: 12px;
    margin-bottom: 0;
}

.cursos-numero .titulo-1{
    color: black;
    font-family: "Nunito Sans";
    font-size: 2rem;
    font-weight: 700;
}

.cursos-numero .titulo-2{
    color: #F02A1C;
    font-family: "Nunito Sans";
    font-size: 2rem;
    font-weight: 700;
}

.col-md-auto{
    max-width: fit-content;
}

.cursos-numero{
    display: flex;
    justify-content: left !important;
    margin-left: 0 !important;
    margin-top: 35px;
    margin-bottom: 35px;
}

.cursos-numero h2{
    margin-bottom: 0;
}

.faculdade .col-md-auto{
    padding: 0.3rem;
    padding-left: 0;
}

.faculdade .col{
    padding: 0.1rem;
    color: #F02A1C;
    font-size: 0.8rem;
    font-weight: 700;
}

h4{
    color: black;
    font-family: "Nunito Sans";
    font-size: 1.1rem;
    font-weight: 700;
}

.texto-faculdade ul  p{
    margin-top: 0;
    font-size: 0.9rem;
}

.texto-faculdade ul{
    padding: 27px;
    padding-top: 1px;
}



